html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}
