.box{
    &__hover{
        display: none;
    }
    &__heading{
        color: #22262A;
        font-size: 30px;
        text-align: center;
        padding: 40px 0;
    }
    &__div{
        width: 250px;
        &:hover{
            opacity: 0.4;
            cursor: pointer;
            .box__hover{
              width: 100px;
              display: block;
              position: absolute;
              margin-top: -140px;
              margin-left: 80px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              & > img {
                background-color: #fff;
                padding: 10px;
                border-radius: 50%;
              }
            }
          }
    }
    &__div{
        margin: 30px 0 90px 0;
    }
}

.nav{
    background-color:#F6F7F8;
    padding: 10px 0;
    margin: 0 0 20px 0;
    text-align: center;
  }
  .text2{
    font-size: 18px;
  }
  .span{
    color:#33A0FF;
  }

@media (max-width: 500px){
    .box{
        &__row{
            justify-content: center;
        }
    }
    .text{
        font-size: 10px;
    }
}
