.container {
  width: 1160px;
  max-width: 1160px;
  margin: 0 auto;
}


@media (max-width: 1170px){
  .container{
    width: 1000px;
  }
}

@media (max-width: 1000px){
  .container{
    width: 900px;
  }
}

@media (max-width: 900px){
  .container{
    width: 800px;
  }
}

@media (max-width: 800px){
  .container{
    width: 700px;
  }
}

@media (max-width: 700px){
  .container{
    width: 600px;
  }
}

@media (max-width: 600px){
  .container{
    width: 540px;
  }
}

@media (max-width: 540px){
  .container{
    width: 500px;
  }
}

@media (max-width: 500px){
  .container{
    width: 460px;
  }
}

@media (max-width: 470px){
  .container{
    width: 430px;
  }
}

@media (max-width: 440px){
  .container{
    width: 360px;
  }
}