.header {
  padding: 10px 0 0 0;
  border-bottom: 2px solid #FAFAFB;
  &__list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    color: #262626;
    padding: 0%;
    padding-bottom: 10px;
  }
  &__sum{
    color: #262626;
    opacity: 0.5;
  }
  &__submenu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__subitem {
    padding-left: 30px;
    display: flex;
    align-items: center;
    // padding-top: 10px;
  }
  &__img {
    padding: 0 20px;
  }
  &__down {
    padding: 0 0 3px 0;
  }
  &__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-top: 10px;
    font-weight: 500;
  }
  &__nav {
    width: 700px;
    &--list {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
    }
    &--item {
      // font-size: 18px;
      &:first-child {
        color: #40bfff;
      }
      &:hover {
        color: #40bfff;
        cursor: pointer;
      }
    }
  }
  &__shop{
    font-weight: 700;
    font-size: 10px;
    color: #fff;
    background: #FB7181;
    padding: 1px 4px;
    border-radius: 50%;
    position: absolute;
    margin-left: -75px;
    margin-top: -3px;
  }
  &__rectangle{
    display: flex;
    align-items: center;
    padding: 2px 0;
    &--menu{
      display: none;
    }
  }
  &__cubic{
    &--menu{
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      width: 22px;
      margin: -10px 0 -16px 0;
    }
  }
  &__cubic2{
    display: none;
  }
}


@media (max-width: 900px){
  .header{
    &__nav{
      &--list{
        display: none;
      }
      &--item{
        color: #C1C8CE;
        text-align: center;
        font-size: 22px;
        padding: 15px 0;
      }
      &--sublist{
        position: absolute;
        padding-top: 40px;
        color: #000;
        font-size: 22px;
        background-color: #fff;
        width: 100%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        top: 110px;
      }
    }
    &__rectangle{
      &--menu{
        display: inline-block;
      }
    }
    &__cubic2{
      display: inline-block;
      margin: -10px 10px 0 10px;
    }
    &__cubics2{
      display: none;
    }
  }
}

@media (max-width: 800px){
  .header{
    &__subitem{
      padding: 0%;
    }
    &__subitem--span{
      display: none;
    }
  }
}

@media (max-width: 480px){
  .header{
    &__div{
      width: 400px;
    }
    &__list{
      width: 400px;
    }
  }
}

@media (max-width: 440px){
  .header{
    &__div{
      width: 360px;
    }
    &__list{
      width: 360px;
    }
  }
}